@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (prefers-color-scheme: dark) {
}

/* @font-face {
    font-family: 'ChosunGu';
    src: url('./fonts/ChosunGu.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
} */

body {
    box-sizing: border-box;
    font-family: 'ChosunGu';
    margin: 0;
    padding: 0;
}
